body {
    color: #fff;
    background-color: #242424;
    background-image: url("../img/bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
}

.wraper {
    height: 3000px;
}