body {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #fff;
    background-color: #000000;
    background-image: url("../img/bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
}

.wraper {
    height: 3000px;
}